
<h2>  Menu Section </h2>
<app-menu-section></app-menu-section>
<br/><hr/>
<h2>  Select Section </h2>
<app-select-section></app-select-section>
<br/><hr/>
<h2>   Chips Section </h2>
<app-chips-section></app-chips-section>
<br/><hr/>
<h2>  Badge Section </h2>
<app-badge-section></app-badge-section>
<br/><hr/>
<h2>  Tooltip Section </h2>
<button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

<mat-form-field class="example-user-input">
  <mat-label>Tooltip message</mat-label>
  <input matInput [formControl]="message">
</mat-form-field>

<button mat-raised-button
        [matTooltip]="message.value || ''"
        aria-label="Button that displays a tooltip with a custom message">
  Action
</button>
<hr/>
<h2>  Card Section </h2>
<app-card></app-card>
<hr/>
<h2>  Tree Section </h2>
<app-tree-section></app-tree-section>

<hr/>

<app-slidtoggle></app-slidtoggle>

<hr>
<!-- <mat-spinner></mat-spinner> -->

<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Progress spinner configuration</h2>

    <section class="example-section">
      <label class="example-margin">Mode:</label>
      <mat-radio-group [(ngModel)]="mode">
        <mat-radio-button class="example-margin" value="determinate">
          Determinate
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="indeterminate">
          Indeterminate
        </mat-radio-button>
      </mat-radio-group>
    </section>

    @if (mode === 'determinate') {
      <section class="example-section">
        <label class="example-margin">Progress:</label>
        <mat-slider class="example-margin">
          <input type="range" [(ngModel)]="value" matSliderThumb>
        </mat-slider>
      </section>
    }
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <mat-progress-spinner
        class="example-margin"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
  </mat-card-content>
</mat-card>

<h2>
  Dialog Overview
</h2>

<app-dialog-overview-example></app-dialog-overview-example>

